@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:ital@0;1&display=swap");

:root {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
}

#root {
	font-family: "Roboto", sans-serif;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3 {
	font-family: "Barlow", sans-serif;
}

img {
	width: 100%;
	height: 100%;
}

button {
	font-family: "Barlow", sans-serif;
	font-weight: bold;
	padding: 8px 10px;
	text-transform: uppercase;
	background-color: #f5f5ef;
	border: 1px solid black;
	font-size: 1.2rem;
}

a {
	color: #40763f;
	text-decoration: none;
}

/* NAV */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	padding: 20px;
	background-color: #f5f5ef;
	font-size: 1.8rem;
	height: 50px;
	border: 2px solid #40763f;
	padding: 30px;
}

.login-signup {
	width: 120px;
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
}

.logo {
	height: 40px;
}

/* HOMEPAGE */
.homepage h1 {
	font-family: "Barlow", sans-serif;
	font-size: 4rem;
	color: #f5f5ef;
	background-color: #40763f;
	padding: 10px;
	margin-bottom: 40px;
}

.homepage {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0% auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.homepage button {
	padding: 10px 30px;
	font-size: 2rem;
	border: none;
	color: #40763f;
}

/* ORDER */
.order {
	height: 100%;
	margin-top: 5%;
}

.order h1 {
	font-size: 3rem;
	text-transform: uppercase;
	padding: 20px 0;
	text-align: center;
}

.order h3 {
	font-size: 1.5rem;
	margin-left: 60px;
	color: #40763f;
	text-align: center;
}

.orders-container {
	display: flex;
}

.pizzas-container {
	display: flex;
	gap: 10rem;
	width: 70%;
	margin: 5% auto;
}

.pizza-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.desc-container {
	margin: 30px 0;
	font-size: 1.5rem;
	text-align: center;
}

.modal-ordered {
	position: absolute;
	top: 10%;
	right: 3%;
	background-color: rgba(173, 173, 173, 0.568);
	padding: 20px;
	font-size: 1.5rem;
}

.modal-ordered p {
	margin-top: 10px;
}

.order-btn {
	width: 100%;
	margin: 10px 0 0 0;
}

.pizza-added-container button {
	padding: 2px 4px;
	border: none;
	margin: 0px 2px;
	float: right;
}

/* SIGNUP */
main {
	width: 70%;
	margin: 5% auto;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px;
}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
}

input {
	height: 60px;
	padding: 15px;
	margin: 10px 0;
	border: 1px solid black;
	font-family: "Barlow", sans-serif;
}

form h1,
h4 {
	background-color: white;
	border: 1px solid #40763f;
	color: #40763f;
	padding: 10px;
	text-transform: uppercase;
	font-size: 3rem;
}

form h4 {
	font-size: 1.5rem;
	margin-top: 40px;
}

span {
	color: red;
	background-color: white;
	padding: 10px;
	border: 1px solid red;
	margin-top: 10px;
}
